Area plots are also known as area graph or area charts
Used to represent cumulated totals using numbers or %ages over time
Is based on the line plot

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
df=pd.read_excel('Canada.xlsx',skiprows=range(20))

In [37]:
df.head()

,Type,Coverage,AreaName,RegName,1980,1981,1982,1983,1984,1985,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Citizens,Northern America,Northern America,..,..,..,..,..,..,...,..,..,..,..,..,..,..,1,1,NaN
1,Immigrants,Foreigners,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,...,7726,7083,6750,6669,6705,6922,8591,8956,8846,NaN
2,Immigrants,Foreigners,Africa,Middle Africa,33,27,44,32,42,30,...,2452,2802,2834,2951,3034,3255,3369,3146,4602,NaN
3,Immigrants,Foreigners,Africa,Northern Africa,1100,1268,1348,936,842,840,...,12478,11323,12705,11750,13456,16320,19271,15712,15453,NaN
4,Immigrants,Foreigners,Africa,Southern Africa,1041,1126,791,387,297,327,...,1203,1012,1148,1230,1184,1235,1306,1049,1348,NaN

In [39]:
df.drop(['Type','Coverage'],axis=1,inplace=True)

In [41]:
df.rename(columns={'AreaName':'Continent','RegName':'Region'},inplace=True)

In [42]:
df['total']=df.sum(axis=1)

In [43]:
df

,Continent,Region,1980,1981,1982,1983,1984,1985,1986,1987,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,total
0,Northern America,Northern America,..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,1,1,NaN,6.0
1,Africa,Eastern Africa,1471,1641,1426,1094,1187,1134,1454,2734,...,7083,6750,6669,6705,6922,8591,8956,8846,NaN,24717.0
2,Africa,Middle Africa,33,27,44,32,42,30,61,100,...,2802,2834,2951,3034,3255,3369,3146,4602,NaN,6918.0
3,Africa,Northern Africa,1100,1268,1348,936,842,840,1115,1864,...,11323,12705,11750,13456,16320,19271,15712,15453,NaN,32099.0
4,Africa,Southern Africa,1041,1126,791,387,297,327,725,1480,...,1012,1148,1230,1184,1235,1306,1049,1348,NaN,5713.0
5,Africa,Western Africa,306,301,210,222,271,319,427,1316,...,5303,5751,5684,5511,6802,8355,6578,7834,NaN,15673.0
6,Africa Total,NaN,3951,4363,3819,2671,2639,2650,3782,7494,...,27523,29188,28284,29890,34534,40892,35441,38083,NaN,85120.0
7,Asia,Central Asia,..,..,..,..,..,..,..,..,...,1134,903,936,805,962,905,769,1029,NaN,1445.0
8,Asia,Eastern Asia,6836,8895,5481,3254,2624,2979,3416,5403,...,50306,41763,35591,39602,37497,37954,35159,40449,NaN,97385.0
9,Asia,South-Eastern Asia,8693,9191,9022,8845,12161,9787,7801,10368,...,22809,25105,27256,30614,34166,44199,40494,37695,NaN,106597.0
10,Asia,Southern Asia,11315,11566,11591,10157,9607,7654,12468,19947,...,69510,66742,56032,54154,53083,62284,53673,60568,NaN,193699.0
11,Asia,Western Asia,4181,4662,4120,2440,2882,3430,5054,7485,...,15494,14541,13644,14719,15726,18503,16799,12477,NaN,45283.0
12,Asia Total,NaN,31025,34314,30214,24696,27274,23850,28739,43203,...,159253,149054,133459,139894,141434,163845,146894,152218,NaN,444409.0
13,Europe,Eastern Europe,1467,3698,6873,5459,4433,3969,6144,8861,...,16724,14389,13886,11988,11759,11803,9612,9464,NaN,48974.0
14,Europe,Northern Europe,23721,26608,22134,10725,10845,10212,10367,22905,...,8153,7969,9186,10042,9846,9816,7285,7616,NaN,103800.0
15,Europe,Southern Europe,7762,7037,5222,3083,3033,2868,4096,9806,...,2806,2417,2290,2692,2948,2661,2466,2854,NaN,21371.0
16,Europe,Western Europe,6810,7459,8491,5371,3976,3795,3763,5126,...,8272,8278,8133,9970,10525,9145,7415,9243,NaN,29375.0
17,Europe Total,NaN,39760,44802,42720,24638,22287,20844,24370,46698,...,35955,33053,33495,34692,35078,33425,26778,29177,NaN,203520.0
18,Latin America and the Caribbean,Caribbean,7045,8310,8326,6998,5553,6048,8716,10932,...,6816,6652,7826,8862,8847,10549,11958,11898,NaN,47736.0
19,Latin America and the Caribbean,Central America,734,921,1612,3648,4087,4862,5909,6804,...,3990,4140,5039,4891,4814,5692,5821,6019,NaN,20014.0
20,Latin America and the Caribbean,South America,5302,5984,6831,4781,4038,4261,6554,10735,...,13941,13884,13146,12794,13206,12577,10077,9256,NaN,32170.0
21,Latin America and the Caribbean Total,NaN,13081,15215,16769,15427,13678,15171,21179,28471,...,24747,24676,26011,26547,26867,28818,27856,27173,NaN,99920.0
22,Northern America,Northern America,9378,10030,9074,7100,6661,6543,7074,7705,...,8394,9613,9463,10190,8995,8142,7676,7891,NaN,25731.0
23,Oceania,Australia and New Zealand,1304,1119,848,457,481,467,532,675,...,1279,1193,1383,1498,1538,1423,1226,1399,NaN,4433.0
24,Oceania,Melanesia,632,707,816,558,391,448,362,524,...,300,278,304,331,313,401,316,273,NaN,2888.0
25,Oceania,Micronesia,1,..,..,1,..,..,..,..,...,2,1,3,1,2,..,..,2,NaN,5.0
26,Oceania,Polynesia,5,13,11,2,6,5,10,1,...,4,1,3,4,7,10,6,5,NaN,36.0
27,Oceania Total,NaN,1942,1839,1675,1018,878,920,904,1200,...,1585,1473,1693,1834,1860,1834,1548,1679,NaN,7362.0
28,Unknown,Unknown,44000,18078,16904,13635,14855,14368,13303,17304,...,4785,4583,4348,4197,3402,3731,2554,1681,NaN,87408.0

In [45]:
df.isnull().sum()

Continent     0
Region        5
1980          0
1981          0
1982          0
1983          0
1984          0
1985          0
1986          0
1987          0
1988          0
1989          0
1990          0
1991          0
1992          0
1993          0
1994          0
1995          0
1996          0
1997          0
1998          0
1999          0
2000          0
2001          0
2002          0
2003          0
2004          0
2005          0
2006          0
2007          0
2008          0
2009          0
2010          0
2011          0
2012          0
2013         29
total         0
dtype: int64

In [50]:
df.set_index('Region',inplace=True)